.leaflet-container{
  width: 800px;
  height: 600px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #ffdf59;
}

ul {
        
  list-style-type: none;
  margin: 0px;
  margin-top: -10px;
  padding: 0;
  overflow: hidden;
  background-color:#012231;
}

li{
  float: left;  
}

li a {
  display: block;
  color: white;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

li a:hover {
background-color:#ffdf59
;
}

body {
  margin-top: 10px;
  background-image: url('images/background.png');
  height: 100%;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: azure;
}

  button{
    background-color: #ffdf59;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
  }
  
  button:hover {opacity: 1}

.country_homepage_dropdown{
background-color: #ffdf59;
text-align: center;
font-family: 'Rubik', sans-serif;
padding: 16px 32px;
display: inline-block;
font-size: 20px;
}

.main_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flag-quiz-images{
  height: 200px;
  width: 300px;
  padding-left: 30px;
}

.capital1{
  color: #ffdf59;
  font-size: x-large;
  font-weight: bolder;
}
.capital2{
  font-size: x-large;
  background-color: white;
  color:#012231;
  margin-left: 500px;
  margin-right: 500px;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.capital2:hover {opacity: 2}
/* .App {
  margin-top: 10vh;
  text-align: center;
  border: black 2px solid;
  padding: 2%;
  margin-left: 12vw;
  margin-right: 12vw;
} */


.map-app {
  margin-left: 14vw;
  margin-right: 14vw;
  margin-bottom: 30vh;
  color: #ffdf59;
  font-size: large;
}

.a-button-feel {
  color: #e92a08;
  font-size: 30px;
  cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.a-button-feel:hover {opacity: 7}




